doctype html

html
  head
    title = Product Service
  body

    h1 Product Service
    form
        table
         thead
             tr
                th Name
                th Brand
                th Description
                th Price
                th category
                th Availabilitiy
                th Available Stock
                th Warehouse Stock
         tbody
