<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="SA" content="">

    <title>Three Amigo Corp.</title>

    <!-- Bootstrap core CSS -->
    <link href="src/main/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="src/custom/custom-style.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/logo.png" width="150" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Orders
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <h1 class="mt-5">My microservice</h1>
      <p><b>Only</b> following colours can be used in this template.</p>
      <img src="assets/colour.jpg" class="img-responsive" style="max-width: 100%;" alt="">
    </div>
    <!-- END Page Content -->

    <!-- Bootstrap core JavaScript -->
    <script src="src/main/jquery/jquery.min.js"></script>
    <script src="src/main/popper/popper.min.js"></script>
    <script src="src/main/bootstrap/bootstrap.min.js"></script>

  </body>

</html>
