extends layout

block content
  h1 Historical Price
  form( action='/api/sentPrice', method="post") 
    table
          thead
              tr
                th Name
                th Current Price
                th Hisorical Price
                th New Price
          tbody
            tr
                td= product.productName
                td= product.productPrice
                td= product.historicalPrice
                td
                  input(type="number", name= product.productEAN, min= "0")   
    input(type="submit", value="Submit Price")              

      
