
doctype html
html(lang="en")
    head
      //-include staff.html
      title Product Service
      //- link(rel='stylesheet', href='/public/src/main/bootstrap/bootstrap.min.css', type='text/css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
      link(rel='stylesheet', href='/static/css/main.css')
    body
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4p
        .container
            a.navbar-brand(href='#') Stock
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarCollapse.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item.active
                  a.nav-link(href='http://3amigoss.azurewebsites.net/api/products')
                    | Home 
                    span.sr-only (current)
                li.nav-item
                    a.nav-link(href='http://3amigoso.azurewebsites.net/order') Orders
                li.nav-item
                    a.nav-link(href='http://3amigosp.azurewebsites.net') Purchases
                li.nav-item
                    a.nav-link(href='http://3amigosa.azurewebsites.net/as/staff') Customers    
    block content
